[Desktop Entry]
Type=Application
Name=Информер
GenericName=Уведомления
Comment=Приём уведомлений по HTTP от внешних систем
Exec=/usr/bin/informer
Icon=informer
Terminal=false
Categories=Utility;Network;
StartupNotify=false
NoDisplay=false
